In [92]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [28]:
my_model = ['ID','year','sex','HE_sbp', 'BS3_1', 'BP1',
            'HE_Upro','HE_crea','BE3_21','HE_glu','DI2_dg',
           'DI1_2','DI1_pt','DE1_32','HE_fh','HE_STRfh1','HE_HPfh1',
           'HE_HLfh2','DF2_dg','HE_ht_wc','DI3_dg']

변수 이름	변수 설명

ID	개인 아이디

year	조사 연도

sex	성별

HE_sbp	최종 수축기 혈압

BS3_1	(성인) 현재흡연 여부

BP1	평소 스트레스 인지 정도

HE_Upro	요단백

HE_crea	혈중크레아티닌

BE3_21	1주일간 중등도 신체활동 일수

HE_glu	공복혈당

DI2_dg	이상지질혈증 의사진단여부

DI1_2	혈압조절제 복용

DI1_pt	고혈압 치료

DE1_32	당뇨병치료_당뇨병약

HE_fh	만성질환 의사진단 가족력 여부

HE_STRfh1	뇌졸중 의사진단 여부(부)

HE_HPfh1	고혈압 의사진단 여부(부)

HE_HLfh2	고지혈증 의사진단 여부(모)

DF2_dg	우울증 의사진단여부

HE_ht_wc	허리둘레와(HE_wc) 키의 비율(HE_ht)

In [29]:
df = pd.read_csv('data_model4_balancing.csv', usecols=my_model)

In [30]:

df.head()

,ID,year,sex,BP1,HE_sbp,DI1_2,DI1_pt,HE_ht_wc,DI2_dg,HE_glu,...,HE_crea,BS3_1,BE3_21,DE1_32,DF2_dg,HE_fh,HE_STRfh1,HE_HLfh2,HE_HPfh1,DI3_dg
0,A901963701,2010,1,3,138,0,0,0.499704,0,102,...,1.03,0,4,0,0,1,0,0,0,0
1,A901963702,2010,2,3,120,0,0,0.415679,0,85,...,0.69,0,1,0,0,1,0,0,1,0
2,A901963703,2010,2,3,108,0,0,0.431078,0,92,...,0.70,0,4,0,0,1,0,0,1,0
3,A901963802,2010,2,3,115,0,0,0.583607,0,94,...,0.75,0,1,0,0,0,0,0,0,0
4,A901964102,2010,2,3,110,0,0,0.472947,0,91,...,0.70,0,1,0,0,0,0,0,0,0

In [31]:
df.describe()

,year,sex,BP1,HE_sbp,DI1_2,DI1_pt,HE_ht_wc,DI2_dg,HE_glu,HE_Upro,HE_crea,BS3_1,BE3_21,DE1_32,DF2_dg,HE_fh,HE_STRfh1,HE_HLfh2,HE_HPfh1,DI3_dg
count,10042.0,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000,10042.000000
mean,2010.0,1.502191,3.249751,125.291077,0.383788,0.380900,0.515725,0.180840,100.755726,0.102569,0.868586,0.206433,2.300737,0.138120,0.048994,0.486457,0.065425,0.024298,0.146883,0.195778
std,0.0,0.500020,0.432890,18.222535,0.486332,0.485632,0.063123,0.384905,24.431604,0.365633,0.257575,0.404765,2.175631,0.345043,0.215867,0.499841,0.247287,0.153980,0.354007,0.396818
min,2010.0,1.000000,3.000000,80.000000,0.000000,0.000000,0.313993,0.000000,69.000000,0.000000,0.400000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010.0,1.000000,3.000000,110.000000,0.000000,0.000000,0.475149,0.000000,88.000000,0.000000,0.700000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2010.0,2.000000,3.000000,125.000000,0.000000,0.000000,0.512036,0.000000,94.000000,0.000000,0.830000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2010.0,2.000000,3.000000,137.000000,1.000000,1.000000,0.553640,0.000000,103.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2010.0,2.000000,4.000000,205.000000,1.000000,1.000000,0.998197,1.000000,325.000000,4.000000,4.300000,1.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

DI3_dg: 0<->no, 1<->yes

In [54]:
y = df.DI3_dg
X = df.drop(['DI3_dg','ID','year'], axis=1)

In [91]:
#X = preprocessing.minmax_scale(X, feature_range=(0,1))
#X = preprocessing.scale(X)

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [103]:
X_train_scaled = preprocessing.StandardScaler().fit_transform(X_train)

In [104]:
X_train_scaled.shape

(8033, 18)

In [105]:
X_train_scaled.mean()

7.284102363979117e-16

In [106]:
X_train.mean(axis=0)

array([0.50155608, 0.24735466, 0.36233935, 0.38267148, 0.37993278,
       0.29435136, 0.1787626 , 0.12374006, 0.02654674, 0.12035897,
       0.20951077, 0.16351301, 0.13581476, 0.04929665, 0.48674219,
       0.06660027, 0.02402589, 0.1483879 ])

In [90]:
log_reg = LogisticRegression(random_state=621)
log_reg.fit(X_train_scaled, y_train)
log_reg.score(X_train_scaled, y_train)

d:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8091622059006598

In [83]:
y_pred = log_reg.predict(X_test)
accuracy_score(y_test, y_pred)

0.8033847685415629